body {
    margin: 0px;
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.1fr;
    grid-template-areas: "header header header"
                         ". main .";
}

header {
    grid-area: header;
    box-shadow: 0px 6px 10px #00000019;
    height: 63px;
    font-size: 20px;
    font-family: 'robotoblack', sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "logo . links";
    font-size: 20px;
    font-family: 'robotoblack', sans-serif;
}

nav #logo {
    grid-area: logo;
    color: #333333;
    padding-left: 30px;
}

nav ul {
    grid-area: links;
}

nav ul li {
    display: inline;
    padding: 2px;
}

main {
    grid-area: main;
    margin: 50px;
}

#form h1 {
    font-size: 14px;
    text-align: left;
    color: #000000;
    font-family: 'robotoblack', sans-serif;
}

#title {
    border: 1px solid #707070;
    border-radius: 6px;
    height: 30px;
    width: 463px;
    font-family: 'robotoblack', sans-serif;
}

#content {
    border: 1px solid #707070;
    border-radius: 6px;
    width: 926px;
    height: 135px;
}

#buttonAdd {
    background: #56D4C2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: 1px grey;
    width: 141px;
    height: 42px;
    float: right;
    margin-right: 80px;
    font-family: 'robotoblack', sans-serif;
}

#form {
    padding-bottom: 45px;
    font-family: 'robotoblack', sans-serif;
}

#Todos {
    display: flex;
    flex-wrap: wrap;
}
 
article {
    box-shadow: 0px 8px 16px #5DD3D829;
    width: 282px;
    height: 163px;
    margin-right: 40px;
    margin-bottom: 49px;
}

article input {
    background: #56D4C2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    border: 1px grey;
    width: 77px;
    height: 23px;
    float: right;
    margin-right: 23px;
    font-family: 'robotoblack', sans-serif;
}

h1 {
    font-family: 'robotoblack', sans-serif;
}

article p {
    font-size: 14px;
    margin: 0px 13px 0px 30px;
    height: 62px;
}

article h1 {
    margin-left: 30px;
}

@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black-webfont.woff2') format('woff2'),
         url('roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "header"
                             "main";
    }
    
    nav {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "logo . links";
        font-size: 2vh;
    }

    #title {
        height: 5vw;
        width: 40vw;
    }
    
    #content {
        width: 70vw;
        height: 15vw;
    }
    
    #buttonAdd {
        margin: 0px;
    }

    #Todos {
        justify-content: center;
    }
}
